@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300;400;700&family=Inria+Sans:ital,wght@0,400;0,700;1,300&family=Inter:wght@300;700&family=Karantina:wght@300;400;700&display=swap");
/*
font-family: 'Alumni Sans', sans-serif;
font-family: 'Inria Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Karantina', cursive;
*/
.filter {
  background-color: #0c0c16;
  padding: 8rem 1rem;
}
.filter-content {
  height: 20rem;
  background: url("/img/page/explore/bg/filter-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 2rem;
  padding: 4rem 2rem;
}

.blogs {
  background-color: #0c0c16;
}
.blogs-content_item {
  display: flex;
  width: 90%;
  margin-bottom: 4rem;
}
.blogs-content_item:nth-child(odd) {
  background: url("/img/page/explore/bg/card-right-bg.png");
  background-position: right;
  margin-left: 10%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: row;
}
.blogs-content_item:nth-child(odd) .blog-item {
  padding-right: 2rem;
}
.blogs-content_item:nth-child(even) {
  background: url("/img/page/explore/bg/card-left-bg.png");
  background-position: left;
  margin-right: 10%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: row-reverse;
}
.blogs-content_item:nth-child(even) .blog-item {
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .blogs-content_item {
    flex-direction: column !important;
  }
}
.blogs-load {
  display: flex;
}
.blogs-load a {
  margin: 3rem auto;
}

.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.blog-item.image {
  width: 40%;
}
@media (max-width: 768px) {
  .blog-item.image {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .blog-item {
    width: 100% !important;
    align-items: center;
    padding: 0 2rem;
  }
}
.blog-item img {
  margin: 0 auto;
  display: block;
  width: 80%;
}
@media (max-width: 992px) {
  .blog-item img {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .blog-item img {
    width: 60%;
  }
}
.blog-title {
  margin-bottom: 1.225rem;
}
@media (max-width: 480px) {
  .blog-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.blog-text {
  margin-bottom: 1rem;
  text-align: justify;
}
@media (max-width: 480px) {
  .blog-text {
    font-size: calc(1rem + 2px);
  }
}
.blog-link .btn {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .blog-link .btn {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.blog-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.blog-list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}
.blog-list_item svg {
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
}
@media (max-width: 992px) {
  .blog-list_item svg {
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
  }
}
.blog-list_item span {
  color: #eadb7c;
  font-weight: 100;
  font-size: calc(1.5rem - 4px);
  margin-left: 0.725rem;
}
@media (max-width: 992px) {
  .blog-list_item span {
    font-size: 1rem;
  }
}/*# sourceMappingURL=explore.css.map */