@use './variables' as *;


main {
  // overflow: hidden;
}

/* 
========================================================
                        Swiper 
========================================================
*/

.swiper {
  width: 100%;
  max-width: 60vh;

  &-button-prev,
  &-button-next {
    color: $color-arrow;
  }

  &-slide {
    img {
      border: 0;
      vertical-align: top;
      width: 100%;
    }
  }
}

/* 
========================================================
                        Styles 
========================================================
*/

.about {
  background-color: $bg-body;

  overflow: hidden;

  padding: 15rem 0;

  &-content {
    opacity: 0;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    padding: 3rem 0;

    @media (max-width: $screen-md) {
      background-image: none;

      flex-direction: column;
      padding: 0;
    }

    &__item {
      position: relative;

      text-align: center;

      @media (max-width: $screen-md) {
        flex-direction: column;
        padding: 0 1.5rem;
      }

      &:first-child {
        width: 40%;
        margin-right: 2rem;

        background: url('/img/page/home/bg/about-person-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;


        @media (max-width: $screen-md) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }

      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 50%;

        background: url('/img/page/home/bg/about-text-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $screen-md) {
          width: 100%;

          padding: 4rem 3rem;
          margin-right: 0;
        }
      }
    }
  }

  &-text {
    .text {
      text-align: justify;

      transform: perspective(30rem) rotateY(-15deg) translate3d(-10%, 15%, 0);

      transition: transform .2s linear;

      margin: 0 3rem 1rem 4rem;


      @media (max-width: $screen-md) {
        transform: perspective(30rem) rotateY(15deg) translate3d(10%, 0, 0);

        padding-top: 3rem;
        margin: 0 1rem 2rem;
      }
    }

    .btn {
      opacity: 0;
      transition: opacity .2s linear;

      @media (max-width: $screen-md) {
        opacity: 1;
      }
    }

    &:hover .text {
      transform: none;

    }

    &:hover .btn {
      opacity: 1;
    }
  }


  &-title {
    position: absolute;
    left: 35%;
    transform: translateX(-10%);
    white-space: nowrap;

    background: url('/img/page/home/bg/about-title-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    padding: 5rem;
    margin: -5rem;

    @media (max-width: $screen-md) {
      transform: translateX(0);
      margin-bottom: 3rem;
    }

  }

}

.action {
  padding: 10rem 0;
  text-align: center;
  background-color: $bg-body;

  overflow: hidden;

  @media (max-width: $screen-md) {
    padding: 2rem 0;
  }

  &-content {
    padding: 4rem 0;
    background-image: url('/img/page/home/bg/action-triangle-bg.svg'), url('/img/page/home/bg/action-ligne-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    opacity: 0;

    @media (max-width: $screen-md) {
      padding: 2rem 0;
    }

    &__title {

      margin-bottom: 3rem;

      &::after {
        display: block;
        content: "";
        width: 30%;
        height: 3px;
        background-color: $color-arrow;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}