@use './_variables' as *;


.form {
  &.profile {
    background: none;
    padding: 0;
  }

  &-profile {
    &-bio {
      width: 70%;
      background-image: url('/img/page/profile/bg/profile-bg.svg');
      background-repeat: no-repeat;
      background-position: left;
      background-size: 100% 100%;

      padding: 4rem 0;

      margin-bottom: 5rem;

      @media (max-width: $screen-lg) {
        width: 98%;
 

      }

      .textarea {
        padding: 0 6rem;
      }

      .bio {
        &-wrapper {
          display: flex;

          @media (max-width: $screen-lg) {
            flex-direction: column-reverse;
          }

        }

        &-content {
          width: 80%;
          margin-right: 3rem;
          padding-left: 6rem;

          @media (max-width: $screen-lg) {
            width: 100%;
            margin-right: 0;
            padding: 2rem;
          }
        }

        &-img {
          width: 300px;
          height: 400px;

          overflow: hidden;

          @media (max-width: $screen-lg) {
            margin: 0 2rem;
          }

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }

    &-data {
      background-image: url('/img/page/profile/bg/profile-2-bg.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      padding: 4rem 6rem;

      &.password {
        margin: 5rem auto;

        input {
          margin-bottom: 1rem;
        }
      }
    }
  }
}