<header id='header' class='header'>
	<div class='parallax' data-depth='0.30' id='header-bg'></div>
	<div class='parallax' data-depth='0.50' id='header-third'></div>
	<div class='parallax' data-depth='0.60' id='header-second'></div>
	<div class='parallax' data-depth='1.00' id='header-first'></div>
	<div class='parallax' data-depth='0' id='header-front'></div>
</header>
